*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-size: 18px;
    border-radius: 0;
    font-family: 'Century Gothic', 'Calibri';
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0);
}

main {
    width: 80%;
    margin: auto;
    padding: 1rem;
    transition: ease 2s;
    animation: infinite wavingBg 24s;
}

main > section{
    min-height: 150px;
    margin: 2rem auto;
    padding: .5rem 0;
    padding-top: 0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.534);
}

main > section > h2{
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    padding: .2rem;
}

/* HEADER */

#head-section{
    background-color: rgb(27, 1, 37);
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    flex-wrap: wrap;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.534);
}

.eye-section{
    position: relative;
    display: flex;
    flex-grow: 1;
    min-width: 300px;
    min-height: 250px;
    max-height: 100%;
}

#header-info{
    display: flex;
}

/* ME & HEADER BUTTONS*/

.header{
    background-color: rgb(238, 238, 238);
    padding: .3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#me .title{
    padding: .7rem .5rem;
}

#me .name{
    font-size: 25px;
    text-decoration:underline;
}

#me img{
    max-width: 100%;
    overflow: hidden;
    border: rgba(75, 2, 104, 0.678) 1px solid;
    margin: auto;
}

#header-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .5rem;
    background-color: rgb(202, 202, 202);
}

#header-buttons a{
    padding: .6rem;
    background-color: rgb(236, 236, 236);
    border: rgba(0, 0, 0, 0.411) 1px solid;
    transition: background .3s ease;
    overflow: hidden;
    position: relative;
}

#header-buttons a p{
    position: relative;
    z-index: 10;
}

#header-buttons a div{
    z-index: 1;
    position: absolute;
    top: 0;
    left: -40px;
    width: 10px;
    height: 10px;
    transform: rotate(.11turn) scale(8);
    transition-property: transform;
    transition-duration: 250ms;
}

#a div{
    background-color: rgba(217, 130, 252, 0.74);
}
#b div{
    background-color: rgba(158, 158, 158, 0.74);
}
#c div{
    background-color: rgba(252, 123, 123, 0.74);
}
#d div{
    background-color: rgba(91, 116, 255, 0.74);
}
#e div{
    background-color: rgba(248, 165, 110, 0.74);
}

#header-buttons a:hover > div{
    transform: rotate(.11turn) scale(38);
}
/* arreglar estilos */
.header .container{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    max-width: 250px;
}

.modal{
    flex-direction: column;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    transition: .3s ease left;
    top: 0;
    left: 0;
    background-color:rgba(53, 6, 6, 0.445); 
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
}
.modal p, .modal b{
    color: rgb(240, 240, 240);
    font-size: 16px;
    padding-top: .4rem;
}

.hidden{
    left: 100%;
}

#show-info {
    position: relative;
    background-color: rgb(223, 223, 223);
    margin: auto;
    margin-top: .2rem;
    width: fit-content;
    padding: .1rem .3rem;
    cursor: pointer;
    overflow: hidden;
    min-width: 100px;
}

#show-info p{
    position: relative;
    z-index: 50;
    font-size: 15px;
}

#show-info span{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: aqua;
    top: 0;
    right: 0;
    transition: .3s ease width;
    z-index: 20;
}

#show-info:hover span{
    width: 100%;
}

/* ABOUT ME */

#about-me{
    position: relative;
    overflow: hidden;
    background-color: rgba(253, 253, 253, 0.562);
}

#about-me > h2{
    background-color: rgba(0, 0, 0, 0.89);
    color: rgb(230, 230, 230);
}

#about-me > nav{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    min-height: 100px;
    height: fit-content;
}

.my-info{
    visibility: hidden;
    position: absolute;
}

.my-info .title{
    text-align: center;
    font-size: 22px;
    margin: .2rem;
}

.my-info .content{
    border: rgba(0, 0, 0, 0.247) 1px solid;
    border-bottom: transparent;
}

.my-info .content i, .my-info .content p{
    font-size: 18px;
    letter-spacing: 0;
}

.my-info .content p{
    line-height: 25px;
    background-color: rgb(226, 226, 226);
    border-bottom: rgba(0, 0, 0, 0.438) 1px solid;
    padding: .3rem .6rem;
}

.link{
    letter-spacing: 0;
    text-decoration: underline;
    color: rgb(112, 46, 138);
}

#info-dot{
    display: flex;
    width: fit-content;
    height: fit-content;
    min-width: 50px;
    justify-content: space-between;
    margin: .5rem auto;
    margin-bottom: 0;
}

#info-dot div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: #000 1px solid;
    transition: background .2s ease;
}
#info-dot div:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.411);
}
#info-dot .active:hover{
    background-color: rgb(0, 0, 0);
    cursor: default;
}

#about-me .btn{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.192);
    padding: .5rem;
    border-radius: 60%;
    top: 80px;
    width: 40px;
    transition: background-color .2s ease, border-radius .2s ease;
    cursor: pointer;
}

#about-me .btn h2{
    color: rgb(238, 238, 238);
    transition: color .2s ease;
    user-select: none;
}

#about-me .btn:hover{
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 2px;
}

#info-nav .visible{
    visibility: visible;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 400ms;
}

#info-dot .active{
    background-color: #111;
}

#rigth-dot{
    right: -18px;
}

#left-dot{
    left: -18px;
    text-align: right;
}

.icon-container{
    display: flex;
    background-color: rgb(245, 245, 245);
    border-bottom: rgba(0, 0, 0, 0.438) 1px solid;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon{
    height: 40px;
    margin: .3em;
    border-radius: 2px;
    transition: .2s ease background-color;
    padding: 1px;
}

#techs{
    transition: .2s ease opacity;
    font-weight: 900;
    display: inline;
}

/* PROJECTS */

#projects{
    background-color: rgba(253, 253, 253, 0.562);
    margin-bottom: 1rem;
}

#projects h2{
    color: rgb(228, 228, 228);
    background-color: rgba(0, 0, 0, 0.897);
}

#projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

/* PROJECT CARD */

.project-card{
    width: 300px;
    margin: 1rem auto;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.445);
}

.project-card h3{
    font-size: 22px;
    text-align: center;
    padding: .2rem;
    letter-spacing: 3px;
    background-color: rgba(255, 197, 197, 0.397);
    margin: .4rem auto;
    color: #fff;
    font-weight: 400;
    font-family: monospace;
    width: fit-content;
    border: solid 1px rgb(0,0,0,.2);
}

.project-card .container{
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
}

.project-card .container > img{
    width: 100%;
    margin: auto;
}

.project-card .container p{
    padding: .5em;
    margin: 1em;
    background-color: rgba(45, 22, 90, 0.733);
    font-size: 18px;
    border: rgba(17, 17, 17, 0.664) solid 1px;
    color: #fff;
}

.project-card .container .modal{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    top: 0;
    width: 100%;
    background-color: rgba(46, 10, 66, 0.753);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: .3s ease opacity;
    height: 100%;
}

.project-card .container .modal div{
    display: flex;
    justify-content: space-evenly;
}

.project-card .container .modal div a{
    transition: border .2s ease;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid transparent;
    font-size: 20px;
}

.project-card .container .modal div a:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
}

.project-card .container .modal:hover{
    opacity: 1;
}


@media (max-width: 700px){
    .container{
        width: 150px;
    }
    #head-section, .eye-section{
        width: 100%;
    }
    #header-info{
        margin: auto;
    }
    main > section{
        width: 100%;
    }
    main{
        width: 100%;
    }
}

@keyframes fadeIn{
    from{
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

@keyframes wavingBg{
    0%{
        background-color:rgb(255, 218, 241);
    }
    25%{
        background-color:rgb(239, 255, 213);
    }
    50%{
        background-color:rgb(211, 246, 255);
    }
    75%{
        background-color:rgb(211, 255, 224);
    }
    100%{
        background-color:rgb(255, 207, 236);
    }
}